---

---

<section class='h-screen flex items-center justify-center'>
  <div class='grid lg:grid-cols-2 gap-2 grid-cols-1 px-16 w-full'>
    <div>
      <h2 class='text-4xl text-white'>Login form</h2>
      <form
        action='#'
        class='w-full p-4'>
        <div class='p-3'>
          <input
            class='block appearance-none placeholder-gray-500 placeholder-opacity-100 border border-light-blue-400 w-full py-3 px-4 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300'
            type='text'
            placeholder='Username*'
            required
          />
        </div>
        <div class='p-3'>
          <input
            class='block appearance-none placeholder-gray-500 placeholder-opacity-100 border border-light-blue-400 w-full py-3 px-4 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300'
            type='password'
            placeholder='Password*'
            required
          />
        </div>
        <div class='p-3 pt-4'>
          <button class='w-full text-white font-bold py-3 px-4 text-2xl'> Login Now </button>
        </div>
      </form>
    </div>
    <div>
      <h2 class='text-4xl text-white'>Register form</h2>
      <form
        action='#'
        class='w-full p-4'>
        <div class='p-3'>
          <input
            class='block appearance-none placeholder-gray-500 placeholder-opacity-100 border border-light-blue-400 rounded-md w-full py-3 px-4 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300'
            type='text'
            placeholder='Username*'
            required
          />
        </div>
        <div class='p-3'>
          <input
            class='block appearance-none placeholder-gray-500 placeholder-opacity-100 border border-light-blue-400 rounded-md w-full py-3 px-4 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300'
            type='email'
            placeholder='Email Id'
            required
          />
        </div>
        <div class='p-3'>
          <input
            class='block appearance-none placeholder-gray-500 placeholder-opacity-100 border border-light-blue-400 rounded-md w-full py-3 px-4 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300'
            type='password'
            placeholder='Password*'
            required
          />
        </div>
        <div class='p-3'>
          <input
            class='block appearance-none placeholder-gray-500 placeholder-opacity-100 border border-light-blue-400 rounded-md w-full py-3 px-4 text-gray-700 leading-5 focus:outline-none focus:ring-2 focus:ring-light-blue-300'
            type='password'
            placeholder='Confrim Password*'
            required
          />
        </div>
        <div class='p-3 pt-4'>
          <button class='w-full text-white font-bold py-3 px-4 rounded text-2xl'> Register Now </button>
        </div>
      </form>
    </div>
  </div>
</section>
